
<section class="attribute-points-section">
    <h3>{{localize "cosmere-level-wizard.AttributePoints"}}</h3>
    <p class="section-description">
        {{localize "cosmere-level-wizard.AttributePointsDescription" points=attributePoints}}
    </p>
    {{!-- Attribute Groups --}}
    {{> attributes}}
    <div class="points-remaining">
        <span>{{localize "cosmere-level-wizard.PointsRemaining"}}: </span>
        <strong class="remaining-count">{{attributePoints}}</strong>
    </div>
</section>