
<section class="choice-section">
    <h3>{{localize "cosmere-level-wizard.ChoiceTitle"}}</h3>
    <p class="section-description">
        {{localize "cosmere-level-wizard.ChoiceDescription" count=@root.advancementData.skillRanksOrTalents}}
    </p>
    <div class="choice-options">
        <label class="choice-option">
            <input
                type="radio"
                name="choice"
                value="skillRanks"
                checked
            />
            <span>{{localize "cosmere-level-wizard.ChooseSkillRanks" count=@root.advancementData.skillRanksOrTalents}}</span>
        </label>
        <label class="choice-option">
            <input
                type="radio"
                name="choice"
                value="talents"
            />
            <span>{{localize "cosmere-level-wizard.ChooseTalents" count=@root.advancementData.skillRanksOrTalents}}</span>
        </label>
    </div>

    <div class="choice-content skill-ranks-choice" data-choice="skillRanks">
        {{> skill-increase skillRanks=@root.advancementData.skillRanksOrTalents}}
    </div>

    <div class="choice-content talents-choice hidden" data-choice="talents">
        {{> talent-selection talents=@root.advancementData.skillRanksOrTalents talentsRemaining=@root.talentsRemaining}}
    </div>
</section>