.entry-list {
	border-top: 2px solid #efe6d8;
	padding: 15px;
	margin-bottom: 5px;
	background: #0f061063;

	:nth-child(2n) {
		background: #0f061063;
	}
}

.search-bar {
	height: 40px;
	background-color: var(--cosmere-color-base-3);
	border-radius: 6px;
	padding: 0 2%;
	width: 85%;

	font-size: var(--font-size-13);
	font-family: var(--cosmere-font-normal);

	display: flex;
	align-items: center;
	gap: 0.75rem;
	margin: auto;
	margin-bottom: 15px;

	input {
		color: var(--cosmere-color-text-sub);
		text-align: left;
		flex: 1;

		&::placeholder {
			color: var(--cosmere-color-faded);
		}
	}

	.controls {
		font-size: var(--font-size-16);
		display: flex;
		align-items: center;
		gap: 0.75rem;
	}
}

.include-filter {
	width: 100%;
	--tag-bg: #2a780e;
}

.subentry-list:nth-child(2n) {
	background: #0f061063;
}

.entry-button {
	border: 1px white solid;
	margin-left: 2%;
	max-width: 25px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.talent-name {
	max-width: 35%;
}
