<section class="attribute-secondary" data-attrId="spd">
    <h3>{{localize "cosmere-level-wizard.AttributeSecondary" attr="Speed"}}</h3>
    <p class="section-description">
        {{localize "cosmere-level-wizard.AttributeSecondaryDescription" attr="Speed"}}
    </p>
    {{!-- TODO: Secondary Speed Effects --}}
</section>