<section class="attribute-secondary" data-attrId="int">
    <h3>{{localize "cosmere-level-wizard.AttributeSecondary" attr="Intellect"}}</h3>
    <p class="section-description">
        {{localize "cosmere-level-wizard.AttributeSecondaryDescription" attr="Intellect"}}
    </p>
    <p class = "int-expertise-gain">
        {{localize "cosmere-level-wizard.AttributeSecondaryDetails.GainExpertise" new=attrInc}}
    </p>
    <p class = "int-expertise-gain">
        {{localize "cosmere-level-wizard.AttributeSecondaryDetails.GainExpertiseNote"}}
    </p>
    {{!-- TODO: New Expertise Selection Window --}}
    {{!-- {{> cosmere-expertises}} --}}
</section>