<section class="attribute-secondary" data-attrId="int">
    <h3>{{localize "cosmere-level-wizard.AttributeSecondary" attr="Intellect"}}</h3>
    <p class="section-description">
        {{localize "cosmere-level-wizard.AttributeSecondaryDescription" attr="Intellect"}}
    </p>
    {{!-- TODO: Secondary Intellect Effects --}}
</section>