<section class="attribute-secondary" data-attrId="wil">
    <h3>{{localize "cosmere-level-wizard.AttributeSecondary" attr="Willpower"}}</h3>
    <p class="section-description">
        {{localize "cosmere-level-wizard.AttributeSecondaryDescription" attr="Willpower"}}
    </p>
    {{!-- TODO: Secondary Willpower Effects --}}
</section>