<section class="attribute-secondary" data-attrId="str">
    <h3>{{localize "cosmere-level-wizard.AttributeSecondary" attr="Strength"}}</h3>
    <p class="section-description">
        {{localize "cosmere-level-wizard.AttributeSecondaryDescription" attr="Strength"}}
    </p>
    {{!-- TODO: Secondary Strength Effects --}}
</section>