<section class="attribute-secondary" data-attrId="pre">
    <h3>{{localize "cosmere-level-wizard.AttributeSecondary" attr="Presence"}}</h3>
    <p class="section-description">
        {{localize "cosmere-level-wizard.AttributeSecondaryDescription" attr="Presence"}}
    </p>
    {{!-- TODO: Secondary Presence Effects --}}
</section>