<section class="attribute-secondary" data-attrId="awa">
    <h3>{{localize "cosmere-level-wizard.AttributeSecondary" attr="Awareness"}}</h3>
    <p class="section-description">
        {{localize "cosmere-level-wizard.AttributeSecondaryDescription" attr="Awareness"}}
    </p>
    {{!-- TODO: Secondary Awareness Effects --}}
</section>